@import "pico.css";

.center {
	margin: 0 auto;
	width: fit-content;
}

.center-inside {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.sortable thead th {
	background-image: url('sort.svg');
	background-position: center right;
	cursor: pointer;
	padding-right: 21px;
}

.sortable thead th[data-descending="false"] {
	background-image: url('sort_down.svg');
}

.sortable thead th[data-descending="true"] {
	background-image: url('sort_up.svg');
}

.big-text {
	font-size: 75px;
}

@media (min-width: 768px) {
	.big-text {
		font-size: 150px;
	}
}

@media (min-width: 1024px) {
	.big-text {
		font-size: 200px;
	}
}

.card {
	margin-bottom: var(--pico-block-spacing-vertical);
	padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
	border-radius: var(--pico-border-radius);
	background: var(--pico-card-background-color);
	box-shadow: var(--pico-card-box-shadow);
}
